html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
html {
  font-family: verdana, tahoma, arial, sans-serif;
  color: #000000;
  background: #335B96;
}
.mycard {
  margin: 0.75rem 1rem 1rem 0.75rem;
  border: 0.75rem solid #FFFFFF;
  box-shadow: 0.75rem 0.75rem 0.75rem rgba(0, 0, 0, 0.25);
  background-color: #E1E1E1;
}
#desc {
  padding: 0.25rem 0.5rem;
  flex: 1 0 14rem;
  max-width: 36rem;
}
input,
select,
button {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  box-shadow: none;
  transition-duration: 0.2s;
  font-size: 1rem;
}
input:focus,
select:focus,
button:focus {
  box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.4);
}
#ctrl {
  flex: 1 0 16rem;
  max-width: 24rem;
}
input,
select {
  margin: 0.25rem 0 1rem 0;
  padding: 0.25rem;
  background: #FFFFFF;
  border: 0.15rem solid #404040;
  border-radius: 0;
}
button {
  margin: 0.75rem 0 0 0;
  padding: 0.75rem 1.5rem;
  background: #404040;
  color: white;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
/* 3 split layout */
.dummy {
  background-color: red;
  height: 30px;
  width: 90px;
  margin: 1px;
}
.splitContainer {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.splitOuter {
  display: flex;
  width: auto;
  max-width: 25%;
  flex-wrap: wrap;
  box-shadow: inset 0px 0px 10px #000000;
  margin: 3px;
}
.splitInner {
  position: relative;
  width: 50%;
  border: 4px solid #662300;
  background: #966F33;
}
.splitInner > * {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.gameGrid {
  width: 100%;
  height: 100%;
}
.splitInner:before {
  content: "";
  display: block;
  padding-top: 100%;
}
/* TABLE */
.divTableRow {
  display: table-row;
}
.divTableCell {
  border: 1px solid #461F00;
  border-width: 1px 0px 0px 1px;
  display: table-cell;
  padding: 10px 10px;
}
.divTableBody {
  border: 1px solid #461F00;
  border-width: 0px 1px 1px 0px;
  display: table;
  /*border-collapse: collapse;*/
}
.divTableCell::before {
  content: "";
  position: relative;
  top: 15%;
  left: 15%;
  right: 15%;
  bottom: 15%;
}
/* SLECETOR */
.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 5px;
}
.gridelem {
  margin: 2px;
  border: none;
}
.gridelem * {
  border: none;
}
/* DEBUGLINES */
.edge {
  width: 10px;
  height: 0px;
  border-bottom: 2px solid purple;
  position: absolute;
}
.edgeTopLeft {
  left: 0%;
  top: 0%;
  transform: translateY(-5px) translateX(-10px) rotate(45deg);
}
.edgeTopRight {
  left: 100%;
  top: 0%;
  transform: translateY(-5px) translateX(0) rotate(135deg);
}
.edgeBotLeft {
  left: 0%;
  top: 100%;
  transform: translateY(5px) translateX(-10px) rotate(315deg);
}
.edgeBotRight {
  left: 100%;
  top: 100%;
  transform: translateY(5px) translateX(0) rotate(225deg);
}
/* utils */
.hide {
  display: none;
}
.win {
  border-color: green;
}
