
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

html {
    font-family: verdana, tahoma, arial, sans-serif;
    color: #000000;
    background: #E0E0E0;
}

.mycard {
    margin: 0.75rem 1rem 1rem 0.75rem;
    border: 0.75rem solid #FFFFFF;
    box-shadow: 0.75rem 0.75rem 0.75rem rgba(0, 0, 0, 0.25);
}

#desc {
    padding: 0.25rem 0.5rem;
    flex: 1 0 14rem;
    max-width: 36rem;
}

input, select, button {
    box-sizing: border-box;
    width: 100%;
    outline: none;
    box-shadow: none;
    transition-duration: 0.2s;
    font-size: 1rem;
}

input:focus, select:focus, button:focus {
    box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.4);
}

#ctrl {
    flex: 1 0 16rem;
    max-width: 24rem;
}

input, select {
    margin: 0.25rem 0 1rem 0;
    padding: 0.25rem;
    background: #FFFFFF;
    border: 0.15rem solid #404040;
    border-radius: 0;
}

button {
    margin: 0.75rem 0 0 0;
    padding: 0.75rem 1.5rem;
    background: #404040;
    color: white;
    border: none;
    border-radius: 0;
    cursor: pointer;
}

/* 3 split layout */

// .splitContainer, .splitOuter, .splitInner {
//     border: 1px solid black;
// }

.dummy {
    background-color: red;
    height: 30px;
    width: 90px;
    margin: 1px
}

.splitContainer {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.splitOuter {
    display: flex;
    width: auto;
    //height: 100%;
    max-width: 25%;
    flex-wrap: wrap;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,1);
    margin: 3px;
}

.splitInner {
    position: relative;
    width: 50%;
}

.splitInner > * {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.gameGrid {
    width: 100%;
    height: 100%;
}

.splitInner:before {
    content: "";
    display: block;
    padding-top: 100%;
}

/* own stuff */

.divTableRow {
    display: table-row;
}
.divTableCell {
    border: 1px solid #999999;
    border-width: 1px 0px 0px 1px;
    display: table-cell;
    padding: 10px 10px;
}
.divTableBody {
    border: 1px solid #999999;
    border-width: 0px 1px 1px 0px;
    display: table;
    /*border-collapse: collapse;*/
}

/* Moar style */

.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.gridelem {
    margin: 3px;
}

.divTableCell::before {
    content: "";
    position: relative;
    top: 15%;
    left: 15%;
    right: 15%;
    bottom: 15%;
}

.hide {
    display: none;
}

@boxsize: 20px;
@edgelen: 10px;
@padoff: 15px;

.edge {
    width: @edgelen;
    height: 0px;
    border-bottom: 2px solid purple;
    position: absolute;
}

.edgeTopLeft {
    transform:
        translateY(00px) translateX(-@edgelen / 2)
        rotate(45deg)
        translateY(0px) translateX(-(@edgelen / 2 + @padoff));
}
.edgeTopRight {
    transform:
        translateY(00px) translateX(@boxsize - @edgelen / 2)
        rotate(135deg)
        translateY(0px) translateX(-(@edgelen / 2 + @padoff));
}
.edgeBotLeft {
    transform:
        translateY(@boxsize) translateX(-@edgelen / 2)
        rotate(315deg)
        translateY(0px) translateX(-(@edgelen / 2 + @padoff));
}
.edgeBotRight {
    transform:
        translateY(@boxsize) translateX(@boxsize - @edgelen / 2)
        rotate(225deg)
        translateY(0px) translateX(-(@edgelen / 2 + @padoff));
}